@model prjRentalManagement.Models.building
@{
    ViewBag.Title = "Details";
}
<h2>Building Details</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.owner.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.owner.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.buildingId }, new { @class = "btn btn-primary"})
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
