@model prjRentalManagement.Models.messageManager
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>messageManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manager.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manager.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.messageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
