@model prjRentalManagement.Models.messageOwner
@{
    ViewBag.Title = "Create New Message";
}
<h2>Create New Message</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* If no logged-in Manager -> display a dropdownlist for manager selection *@
        @if (Session["manager"] == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.managerId, "Manager Name", htmlAttributes: new { @class = "control-label col-md-2 fw-bold mb-2" })
                <div class="col-md-10">
                    @Html.DropDownList("managerId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.managerId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @* If the user is a manager -> set managerId by the session's managerId *@
        @if (Session["manager"] != null)
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.managerId, new { htmlAttributes = new { @class = "form-control", @Value = Session["manager"].ToString(), @style = "display: none" } })
                    @Html.ValidationMessageFor(model => model.managerId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @* If the user is an owner -> set ownerId by the session's ownerId *@
        @if (Session["owner"] != null)
        {
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ownerId, new { htmlAttributes = new { @class = "form-control", @Value = Session["owner"].ToString(), @style = "display: none" } })
                    @Html.ValidationMessageFor(model => model.ownerId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @* If no owner is logged in -> display a dropdownlist for owner selection *@
        @if (Session["owner"] == null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ownerId, "Owner Name", htmlAttributes: new { @class = "control-label col-md-2 fw-bold mb-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ownerId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ownerId, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        @* Field for message creation *@
        <div class="form-group mt-2">
            @Html.LabelFor(model => model.message, htmlAttributes: new { @class = "control-label col-md-2 fw-bold mb-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your message here..." } })
                @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3 mb-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
