@model IEnumerable<prjRentalManagement.Models.tenant>

@{
    ViewBag.Title = "Tenant Dashboard";
}
@if (Session["owner"] != null)
{
    <h2>All Tenants</h2>
}
else if (Session["tenant"] != null)
{
    <h2>Your Information</h2>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
    </tr>

    @if (Session["tenant"] != null)
    {
        foreach (var item in Model.Where(i => i.tenantId == Convert.ToInt32(Session["tenant"])))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.tenantId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.tenantId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.tenantId })
                </td>
            </tr>
        }
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.tenantId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.tenantId })
                    @Html.ActionLink("Delete", "Delete", new { id = item.tenantId })
                </td>
            </tr>
        }
    }


</table>
