@model prjRentalManagement.Models.apartment

@{
    ViewBag.Title = "Create Apartment";
}

<h2>Create Apartment</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!-- Apartment Number -->
    <div class="form-group">
        @Html.LabelFor(model => model.apartmentNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.apartmentNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.apartmentNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Number of rooms -->
    <div class="form-group">
        @Html.LabelFor(model => model.nbRooms, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nbRooms, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nbRooms, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Price -->
    <div class="form-group">
        @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Status -->
    <div class="form-group">
        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.status,
                new SelectList(new[] { "Available", "Unavailable" }),
                new { @class = "form-control" }
            )
            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Building ID -->
    <div class="form-group mt-2">
        @Html.LabelFor(model => model.buildingId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("buildingId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.buildingId, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Tenant ID -->
    <div class="form-group mt-2">
        @Html.LabelFor(model => model.tenantId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("tenantId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.tenantId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mt-3 mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

