@model prjRentalManagement.Models.apartment
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Apartment</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.apartmentNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apartmentNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbRooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbRooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.building.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.building.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant.name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions mt-3 mb-3">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this apartment?');" />
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
